p{
    color: red;
}
div{
    background-color: red;
    height: 100px;
    width: 100px;
    padding: 5px 10px 5px 10 px;
    border: 12px solid black;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 50px;
    
}
/*div {
    background-color: blue;
    height: 100px;
    width: 100px;
    padding: 5px 10px 5px 10 px;
    border: 12px solid black;
    border-top-left-radius: 50%;

}*/